.background {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(66, 65, 65);
  font-family: 'Raleway', sans-serif;
 
}


#quote-box {
  border-radius: 3px;
  position: relative;
  width: 450px;
  padding: 40px 50px;

  background-color: #fff;
  transition: width 5s ease-in-out;
  font-size: 20px
}


#text {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 20px;

}

#author {
  text-align: right;
  margin: 40px;


}

.fade-in-text {
  animation: fadeIn 5s ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}



#new-quote {
  height: 38px;
  border: none;
  border-radius: 3px;
  color: #fff;
  background-color: #333;
  outline: none;
  padding: 8px 18px 6px 18px;
  margin-top: 30px;
  opacity: 1;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center
}